@font-face {
  font-family: Alice in Wonderland;
  src: url('./assets/Alice_in_Wonderland_3.ttf');
}

body {
  font-family: 'Alice in Wonderland';
  letter-spacing: 3px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1) ), url('./assets/bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0; 
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 3.4rem;
  color: black;
  text-shadow: 2px 3px #cfc8c8;
  margin-left: auto;
  margin-right: auto;

}

p {
  font-size: 30px;
}

.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid rgb(0, 0, 0);
  padding: 6px 12px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Alice in Wonderland';
  letter-spacing: 1px;
  width: 150px;
}
button:hover {
  background: #03587d83;
  color: #fff;
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.card-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

/* MEDIA QUERIES */

/* Small Tablet Styles */
@media screen and (max-width: 620px) {
  .card-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large Tablet & Laptops */
@media screen and (max-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  body {
    overflow: scroll;
  }

  .card-grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}   

/* @media screen and (max-width: 1440px) {

}    */

/* @media screen and (min-width: 1920px) {

}    */